<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org/">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->


<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">

            <h3 class="mt-4" th:text="${loggedin_restaurant}" ></h3>

            <hr>

            <h3 class="mt-4">Menu</h3>

            <hr>

            <div class="container">
                <div class="starter-template" style="overflow-x:auto;">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Is it garnish?</th>
                            <th>Comment</th>
                        </tr>
                        <tbody>
                        <tr th:each="meal: ${meals}">
                            <td>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control"
                                               th:field="${meal.name}">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="number" class="form-control"
                                               th:field="${meal.price}">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input  type="checkbox" class="form-check-input"
                                               th:field="${meal.isgarnish}">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control"
                                               th:field="${meal.comment}">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <form th:action="@{'menu/' + ${meal.id}}" method="post">
                                    <button type="submit" class="btn btn-secondary btn-block">
                                        Save
                                    </button>
                                </form>
                                <div th:if="${notSaved}" class="alert alert-danger"
                                     role="alert" th:text="${notSaved}"></div>

                                <div th:if="${saved}" class="alert alert-success"
                                     role="alert" th:text="${saved}"></div>
                                <form th:action="@{'menu/' + ${meal.id}}" method="post">
                                    <button type="submit" class="btn btn-secondary btn-block">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <hr>

        </div>


    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>