<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org/">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->

<!-- Header with Background Image -->
<!--/*/ <th:block th:include="fragments/headerpic :: headerpic"></th:block> /*/-->

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!--/*/ <th:block th:include="fragments/side_navbar :: side_navbar"></th:block> /*/-->

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <h3 class="mt-4">*Logged-in Restaurant*</h3>

            <hr>

            <h3 class="mt-4">Previous Orders</h3>

            <hr>

            <div class="container">


            </div>

            <hr>

        </div>


    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>