<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org/">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">

            <h3 class="mt-4" th:text="${loggedin_restaurant}"></h3>

            <hr>

            <h3 class="mt-4">Previous Orders</h3>

            <hr>

            <div class="container">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Customer</th>
                            <th scope="col">Address</th>
                            <th scope="col">Price</th>
                            <th scope="col">Meals</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order: ${orders}">
                            <td th:text="${order.customer.firstname}+' '+${order.customer.lastname}"/>
                            <td th:text="${order.address.zipcode}+' '+${order.address.city}+' '+${order.address.street}+' '+${order.address.housenumber}"/>
                             <td th:text="${order.price}+' Ft'"/>
                            <td th:each="food: ${order.meals}">
                                <p th:text="${food.meal.name}+' '+${food.amount}+' db'"></p>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>


            </div>

            <hr>

        </div>


    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>