<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org/">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->

<!-- Header with Background Image -->
<!--/*/ <th:block th:include="fragments/headerpic :: headerpic"></th:block> /*/-->

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-12">

            <!-- Title -->
            <h3 class="mt-4">Addresses</h3>

            <hr>

            <div class="container ">
                <div class="starter-template" style="overflow-x:auto;">

                    <div th:if="${error}" class="alert alert-danger"
                         role="alert" th:text="${error}"></div>

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-light">
                            <tr>
                                <th>City</th>
                                <th>State</th>
                                <th>ZIP code</th>
                                <th>Street</th>
                                <th>H. N.</th>
                                <th>Floor</th>
                                <th>Door</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="address: ${addresses}">
                                <td th:text="${address.city}"></td>
                                <td th:text="${address.state}"></td>
                                <td th:text="${address.zipcode}"></td>
                                <td th:text="${address.street}"></td>
                                <td th:text="${address.housenumber}"></td>
                                <td th:text="${address.floor}"></td>
                                <td th:text="${address.door}"></td>
                                <td>
                                    <form th:action="@{'addresses/modify'}" method="post">
                                        <input type="hidden" name="addressId" th:value="${address.id}">
                                        <button type="submit" class="btn btn-warning btn-block">
                                            Modify
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form th:action="@{'addresses/delete'}" method="post">
                                        <input type="hidden" name="addressId" th:value="${address.id}"/>
                                        <button type="submit" class="btn btn-danger btn-block">
                                            Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <a class="btn btn-secondary" th:href="@{'/address-modification'}">
                        New Address
                    </a>
                </div>
            </div>

            <hr>

        </div>

        <!--div th:replace="fragments/sidebar :: sidebar"></div-->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>