<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->

<!-- TO DO
    Write a Thymeleaf script which includes fragments of the page body based on the active tab/page (like navbar)
    to reduce data usage
 -->

<!--/*/ <th:block th:include="fragments/headerpic :: headerpic"></th:block> /*/-->

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!--/*/ <th:block th:include="fragments/side_navbar :: side_navbar"></th:block> /*/-->


        <!-- Post Content Column -->
        <div class="col-lg-8">
            <!-- Title -->
            <h3 class="mt-4">Change password</h3>

            <hr>

            <form th:action="@{/password}" th:object="${changer}" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="oldPassword">Current password:</label>
                        <input type="password" class="form-control" id="oldPassword"
                               th:field="${changer.currentPassword}">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="newPassword">New password:</label>
                        <input type="password" class="form-control" id="newPassword"
                               th:field="${changer.newPassword1}">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="newPassword2">Confirm password:</label>
                        <input type="password" class="form-control" id="newPassword2"
                                th:field="${changer.newPassword2}">
                    </div>
                </div>

                <div th:if="${onPasswordChangeSuccess}" class="alert alert-success"
                     role="alert" th:text="${onPasswordChangeSuccess}"></div>

                <div th:if="${onPasswordChangeFailure}" class="alert alert-danger"
                     role="alert" th:text="${onPasswordChangeFailure}"></div>

                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
            <hr>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>
