<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
</head>
<body>
<div th:fragment="footer">
    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; MealRide 2018</p>
        </div>
        <div class="container">
            <p class="m-0 text-center text-white">Project Laboratory - Csókási Marcell</p>
        </div>
    </footer>
</div>
</body>
</html>