<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>

<head>
</head>
<body>
<div th:fragment="navigation">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">

            <a class="navbar-brand">
                <img th:src="@{/icons/favicon.ico}" width="30" height="30" alt="">
            </a>

            <a class="navbar-brand" th:classappend="${#request.getRequestURI() == '/' ? 'active' : ''}" href="/">MealRide</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a sec:authorize="hasRole('ROLE_ANONYMOUS')" class="nav-link"
                           th:classappend="${#request.getRequestURI() == '/registration' ? 'active' : ''}"
                           th:href="@{/registration}">Registration</a>
                    </li>
                    <!--li class="nav-item">
                        <a sec:authorize="hasRole('ROLE_USER')" class="nav-link"
                           th:classappend="${#request.getRequestURI() == '/users' ? 'active' : ''}"
                           th:href="@{/users}">Users</a>
                    </li-->
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${#request.getRequestURI() == '/restaurant' ? 'active' : ''}"
                           th:href="@{/restaurant}">Restaurants</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="hasRole('ROLE_ANONYMOUS')" class="nav-link"
                           th:classappend="${#request.getRequestURI() == '/login' ? 'active' : ''}" th:href="@{/login}">Sign
                            In</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link dropdown-toggle" href="#"
                           id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            Administration
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" th:href="@{/administration/restaurants}">Restaurants</a>
                            <a class="dropdown-item" th:href="@{/administration/add-restaurant}">New Restaurant</a>
                            <a class="dropdown-item" th:href="@{/administration/logs}">Application Logs</a>
                            <div class="dropdown-divider"></div>
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="dropdown-item btn">Logout</button>
                            </form>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a sec:authorize="hasRole('ROLE_RESTWORKER')" th:text="${loggedin_restaurant}" class="nav-link dropdown-toggle"
                           href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Étterem
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a sec:authorize="hasRole('ROLE_RESTWORKER')" class="dropdown-item" th:href="@{#}">Incoming
                                Orders</a>
                            <div class="dropdown-divider"></div>
                            <a sec:authorize="hasRole('ROLE_RESTADMIN')" class="dropdown-item"
                               th:href="@{/restaurant/menu}">Menu</a>
                            <a sec:authorize="hasRole('ROLE_RESTADMIN')" class="dropdown-item"
                               th:href="@{/restaurant/manage-workers}">Manage Workers</a>
                            <a sec:authorize="hasRole('ROLE_RESTADMIN')" class="dropdown-item"
                               th:href="@{/restaurant/logs}">Restaurant Logs</a>
                            <div sec:authorize="hasRole('ROLE_RESTADMIN')" class="dropdown-divider"></div>
                            <a sec:authorize="hasRole('ROLE_RESTADMIN')" class="dropdown-item"
                               th:href="@{/restaurant/previous-orders}">Previous Orders</a>
                            <div sec:authorize="hasRole('ROLE_RESTADMIN')" class="dropdown-divider"></div>
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="dropdown-item btn">Logout</button>
                            </form>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a sec:authorize="isAuthenticated()" th:text="${username}" class="nav-link dropdown-toggle"
                           href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                            <a class="dropdown-item" href="/">Home Page</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                               th:classappend="${#request.getRequestURI() == '/personaldata' ? 'active' : ''}"
                               th:href="@{/personaldata}">Personal Data</a>
                            <a class="dropdown-item"
                               th:classappend="${#request.getRequestURI() == '/addresses' ? 'active' : ''}"
                               th:href="@{/addresses}">Addresses</a>
                            <a class="dropdown-item"
                               th:classappend="${#request.getRequestURI() == '/cards' ? 'active' : ''}"
                               th:href="@{/cards}">Credit Cards</a>
                            <a class="dropdown-item"
                               th:classappend="${#request.getRequestURI() == '/address-modification' ? 'active' : ''}"
                               th:href="@{/address-modification}">New Address</a>
                            <a class="dropdown-item"
                               th:classappend="${#request.getRequestURI() == '/password' ? 'active' : ''}"
                               th:href="@{/password}">Change Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                               th:classappend="${#request.getRequestURI() == '/previous-orders' ? 'active' : ''}"
                               th:href="@{previous-orders}">Previous Orders</a>
                            <div class="dropdown-divider"></div>
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="dropdown-item btn">Logout</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>
</body>
</html>