<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org/">
<head>
</head>
<body>

<!-- Sidebar Widgets Column -->
<div class="col-md-4" th:fragment="sidebar">

    <!-- Search Widget -->
    <div class="card my-4" th:fragment="search">
        <h5 class="card-header">Search restaurant</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>

    <!-- Shopping Card Widget -->
    <div class="card my-4" th:fragment="cart">
        <h5 class="card-header">Shopping Cart</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12 ">
                    <ul class="list-unstyled mb-0">
                        <li>
                            Magyaros pizza (32 cm) - 1290 Ft
                        </li>
                        <hr>
                        <li>
                            Piedone kedvence pizza (45 cm) - 2190 Ft
                        </li>
                        <hr>
                        <li>
                           2 x Pepsi cola 0.33l - 2 x 390 Ft
                        </li>
                        <hr>
                        <li>
                            <b>Összesen: 4260 Ft</b>
                        </li>
                    </ul>
                    <hr>
                    <button class="btn btn-secondary btn-block" type="button">Order</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>