<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="side_navbar" class="col-lg-4">
    <nav class="nav flex-column nav-pills nav-fill">
        <a class="nav-link"
           th:classappend="${#request.getRequestURI() == '/personaldata' ? 'active' : ''}"
           th:href="@{/personaldata}">Personal Data</a>
        <a class="nav-link"
           th:classappend="${#request.getRequestURI() == '/addresses' ? 'active' : ''}"
           th:href="@{/addresses}">Addresses</a>
        <a class="nav-link"
           th:classappend="${#request.getRequestURI() == '/cards' ? 'active' : ''}"
           th:href="@{/cards}">Credit Cards</a>
        <a class="nav-link"
           th:classappend="${#request.getRequestURI() == '/password' ? 'active' : ''}"
           th:href="@{/password}">Change Password</a>
        <a class="nav-link"
           th:classappend="${#request.getRequestURI() == '/previous-orders' ? 'active' : ''}"
           th:href="@{previous-orders}">Previous Orders</a>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-link btn-logout">Logout</button>
        </form>
    </nav>
</div>

</body>
</html>