 h2 { color: #2189ce; }

li {
    margin-top: 4px;
    margin-bottom: 4px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

