h2 { color: #2189ce; }

/*td, th {
    border: 1px solid #dddddd;
    text-align: center;
    vertical-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.table{
    width: 100%;
    overflow-x: auto;
}*/

.orange:active{
    color: #E64A19;
    background-color: #1b1e21;
}

.orange:hover {
    color: #FF5722;
    background-color: #1d2124;
}