<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->

<!-- Header with Background Image -->
<!--/*/ <th:block th:include="fragments/headerpic :: headerpic"></th:block> /*/-->

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h3 class="mt-4">Restaurant browser</h3>

            <hr>

            <!-- Date/Time -->

            <div class="container">
                <div class="starter-template">



                </div>
            </div>

            <hr>

        </div>

        <div th:replace="fragments/sidebar :: sidebar"></div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>