<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->

<!-- TO DO
    Write a Thymeleaf script which includes fragments of the page body based on the active tab/page (like navbar)
    to reduce data usage
 -->

<!--/*/ <th:block th:include="fragments/headerpic :: headerpic"></th:block> /*/-->

<!-- Page Content -->
<div class="container">

    <div class="row">,

        <!-- Post Content Column -->
        <div class="col-lg-12">
            <!-- Title -->
            <h3 class="mt-4">Error</h3>

            <hr>

            <p>Sorry, an error occured!</p>

            <hr>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>