<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->

<!-- Header with Background Image -->
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h3 class="mt-4">Restaurant browser</h3>

            <hr>

            <!-- Date/Time -->

            <div class="container">
                <div class="starter-template">

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Étterem</th>
                            <th scope="col">Szállítási idő</th>
                            <th scope="col">Szállítási költség</th>
                            <th scope="col">Minimum rendelés</th>
                            <th scope="col">Nyitvatartás</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="rest: ${rests}">
                            <td th:text="${rest.name}" />
                        </tr>
                        <tr th:each="rest: ${rests}">
                            <td th:text="${rest.avgdeliverytime}" />
                        </tr>
                        <tr th:each="rest: ${rests}">
                            <td th:text="${rest.deliveryprice}" />
                        </tr>
                        <tr th:each="rest: ${rests}">
                            <td th:text="${rest.minorderprice}" />
                        </tr>
                        <tr th:each="rest: ${rests}">
                            <td th:text="${rest.opentime}"/>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <hr>

        </div>

        <div th:replace="fragments/sidebar :: sidebar"></div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->



<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>