<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org/">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->

<!-- Header with Background Image -->
<!--/*/ <th:block th:include="fragments/headerpic :: headerpic"></th:block> /*/-->

<!-- Page Content -->
<div class="container">

    <h3 class="mt-4">Restaurant browser</h3>

    <hr>

    <div class="row">
        <div class="col-lg-12">

            <div class="container">
                <div class="starter-template">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Restaurant</th>
                                <th scope="col">Delivery time</th>
                                <th scope="col">Delivery Price</th>
                                <th scope="col">Minimum Order Price</th>
                                <th scope="col">Shopping Hours</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="rest: ${restaurants}">
                                <td>
                                    <form th:action="@{'restaurants/'+${rest.id}+'/menu'}" method="post">
                                        <input type="hidden" name="mealId" th:value="${rest.id}">
                                        <button type="submit" th:text="${rest.name}"
                                                class="btn btn-outline-secondary btn-block">
                                            Restaurant name
                                        </button>
                                    </form>
                                </td>
                                <td th:text="${rest.avgdeliverytime}+' min'"/>
                                <td th:text="${rest.deliveryprice}+' Ft'"/>
                                <td th:text="${rest.minorderprice}+' Ft'"/>
                                <td th:text="${rest.hours.open} + ' - '+ ${rest.hours.close}"/>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <hr>

        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->


<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>