<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->

<!-- Header with Background Image -->
<!--/*/ <th:block th:include="fragments/headerpic :: headerpic"></th:block> /*/-->

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-12">

            <!-- Title -->
            <h3 class="mt-4">Listing all users</h3>

           <hr>

            <div class="container ">
                <div class="starter-template" style="overflow-x:auto;">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>ZipCode</th>
                            <th>State</th>
                            <th>City</th>
                            <th>Street</th>
                            <th>House number</th>
                        </tr>
                        <tbody>
                        <div  th:each="address: ${addresses}">
                        <tr th:each="user: ${users}" >
                            <td th:text="${user.id}" />
                            <td th:text="${user.firstname}" />
                            <td th:text="${user.lastname}" />
                            <td th:text="${user.email}" />
                            <td th:text="${user.phone}" />
                            <td th:text="${address.zipcode}" />
                            <td th:text="${address.state}" />
                            <td th:text="${address.city}" />
                            <td th:text="${address.street}" />
                            <td th:text="${address.housenumber}" />
                        </tr>
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>

            <hr>

        </div>

        <!--div th:replace="fragments/sidebar :: sidebar"></div-->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>